<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Details</title>
</head>
<body>
    <%- include('navbar', {links: links}) %>
    <div>User: <%= message.user %>"</div>
    <div>Message: <%= message.text %>"</div>
    <div>date: <%= message.added %>"</div>
</body>
</html>